<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head.html %>
    <!-- User define CSS -->
    <link href="public/assets/css/mRole.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div>
    <% include ../partials/header.html %>

      <div id="page-wrapper">
        <div id="Header" class="row">
          <div class="col-md-4">
            <strong style="font-size:32px">空&nbsp;白&nbsp;頁&nbsp;面</strong>
          </div>
          <div class="col-md-8">

          </div>
        </div>
        <hr>
        <div id="Main">
          <div class="row R1">

          </div>
        </div>
      </div>
  </div>
</body>

</html>
