<!-- bulletin Create & Update-->
<div class="modal fade" id="bltnCreateModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:90%">
        <div class="modal-content">
        </div>
    </div>
</div>
<div class="modal fade" id="bltnEditModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:90%">
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- bulletin View -->
<div class="modal fade" id="bltnViewModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:90%">
        <div class="modal-content bltnModalView">
        </div>
    </div>
</div>
<!-- bulletin Delete -->
<div class="modal fade" id="bltnDeleteModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width:90%">
        <div class="modal-content bltnModalView">
        </div>
    </div>
</div>
