<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/head.html %>
    <!-- User define CSS -->
    <link href="public/assets/css/camp/mCamp.css" rel="stylesheet" type="text/css" />
    <!-- <script src="public/jQueryValidate/jquery.validate.min.js" type="text/javascript" charset="UTF-8"></script> -->
</head>

<body>
    <div>
        <% include ../../partials/header.html %>
        <div id="page-wrapper">
            <div id="Header" class="row">
                <div class="col-md-4">
                    <strong style="font-size:32px">營&nbsp;隊&nbsp;管&nbsp;理</strong>
                </div>
                <div class="col-md-8"></div>
            </div>
            <hr>
            <div id="Main">
                <% include ./mCampModal.html%>
                <% include ./mCampSearchForm.html %>
                <div class="row R1">
                    <div class="col-md-9">
                    <% if(permission) {%>
                        <% if(permission.CREATE) {%>
                        <button id="add" class="btn btn-info" type="button" data-toggle="modal" data-target="#campCreateModal">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                        <%}%>
                        <% if(permission.DELETE) {%>
                        <button id="delete" class="btn btn-danger" type="button" data-toggle="modal" data-target="#campDelModal">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                        <%}%>
                        <% if(permission.IMPORT) {%>
                        <label class="btn btn-warning">
                            <input id="import" style="display:none;" type="file">
                            <i class="glyphicon glyphicon-file"></i>上傳檔案
                        </label>
                        <%}%>
                        <% if(permission.EXPORT) {%>
                        <label class="btn btn-warning">
                            <input id="export" style="display:none;">
                            <i class="glyphicon glyphicon-file"></i>下載檔案
                        </label>
                        <%}%>
                    <%}%>
                    </div>
                </div>
                <table id="campTable" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <input type="checkbox" name="select_all" value="1" id="select-all">
                            </th>
                            <th>名稱</th>
                            <th>天數</th>
                            <th>外出</th>
                            <th>年級</th>
                            <th>人數</th>
                            <th>價格</th>
                            <th>營運中</th>
                            <th>種類</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src='views/camp/JS/JSmCamp.js'></script>
</body>

</html>